.contact-area{background-color:#111;background-position:center center;height:100vh;height:calc(var(--vh,1vh) * 100);overflow:hidden}
.contact-area:before{background-color:rgba(0,0,0,.4)}
.contact-area .fixed-wrapper{margin:0 50px;position:relative}
.contact-area .fixed-wrapper .fixed-block{bottom:34px;position:absolute}
.contact-area .fixed-wrapper .fixed-block.block-left{left:0}
.contact-area .fixed-wrapper .fixed-block.block-right{right:0}
.contact-area .fixed-wrapper .languages-list{margin-bottom:0}
.contact-area .fixed-wrapper .languages-list .single-language{-webkit-transform:rotate(90deg);color:#e6e6e6; font-weight: lighter;
    /* display:block; */
    margin-top:20px;text-transform:uppercase;transform:rotate(90deg)} 
    
    .contact-area .fixed-wrapper .languages-list .single-language a{
      font-weight: bold;
      color: #387373;
    }
    .contact-area .fixed-wrapper .languages-list .single-language a:hover{
      font-weight: bold;
      color: #93bfb7;
    }
    .contact-area .fixed-wrapper .social-icons{margin-bottom:0}
    .contact-area .fixed-wrapper .social-icons>li{line-height:100%;margin-top:14px;text-align:center}
    .contact-area .fixed-wrapper .social-icons i.icon{color:#f3f3f3;font-size:23px;line-height:100%}
    .contact-area .fixed-wrapper .social-icons i.icon:hover{color:#FFC800} 
    .contact-area .fixed-wrapper .social-icons li a img{line-height: 100%}
    .contact-area .home-name{color:#fff;font-size:70px;font-weight:700;letter-spacing:1px;margin-bottom:34px}
    .contact-area .home-headline{color:#fff;font-size:32px;font-weight:400;letter-spacing:.3px;margin-bottom:0}
    .contact-area .home-headline .single-headline{display:inline-block;position:relative;text-align:left;vertical-align:top}
    /* .contact-area .home-headline .single-headline::after{background-color:#b9b9b9;content:'';height:100%;position:absolute;right:0;top:0;width:2px} */
    .contact-area .home-headline .single-headline b{display:inline-block;font-weight:400;left:0;opacity:0;position:absolute;top:0;white-space:nowrap}.contact-area .home-headline .single-headline b.is-visible{opacity:1;position:relative}.contact-area.video-variant #wrapper_homeVideo:before{background-color:rgba(0,0,0,.7);content:'';height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}@media (max-width:991.98px){.contact-area .home-name{font-size:62px}.contact-area .home-headline{font-size:30px}}

    @media (max-width:767.98px){
      .contact-area .fixed-wrapper .fixed-block.block-right{
        position: absolute;
        display: flex;
      }
      .contact-area .fixed-wrapper .languages-list .single-language{
        -webkit-transform:rotate(90deg);color:#e6e6e6;
        /* display:block; */
        margin-top:20px;
        text-transform:uppercase;transform:rotate(90deg);
        font-size: 0.6rem;
        font-weight: lighter;
      }
      .contact-area .fixed-wrapper .languages-list .single-language a{
        font-weight: bold;
      }
      .contact-area .fixed-wrapper .social-icons i.icon{
        color:#f3f3f3;
        font-size:18px;
        line-height:100%
      }
    }
    
    @media (max-width:575.98px){
      .contact-area{
        background-position:80% center;
      }
      .contact-area .home-name{
        font-size:48px;
      }
      .contact-area .home-headline{
        font-size:22px;
      } 
      /* .contact-area .main-logo1 {
      width: 100px;
      margin-top: 30px;
    } */
  }